@font-face {
    font-family: "HKGroteskBlack";
    src: url("../fonts/HKGrotesk-Black.otf") format("truetype");
}

@font-face {
    font-family: "HKGroteskSemiBold";
    src: url("../fonts/HKGrotesk-SemiBold.otf") format("truetype");
}

@font-face {
    font-family: "HKGroteskRegular";
    src: url("../fonts/HKGrotesk-Regular.otf") format("truetype");
}

@font-face {
    font-family: "SFUITextMedium";
    src: url("../fonts/SFUIText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SFUITextBold";
    src: url("../fonts/SFUIText-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    color: white;
    background-color: #F9F9FD;
}

pre {
    margin: 0;
}

/*****************************************************************************************
|
|   Common class
|
******************************************************************************************/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 16px 9px 16px;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 3px;
    font-family: "SFUITextMedium", Helvetica, sans-serif;
}

.btn-dark {
    background: #454658;
    color: white;
}

.btn-purple {
    background: #6578C0;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "HKGroteskRegular", Helvetica, sans-serif;
}

.large_container {
    max-width: 1125px;
}

.medium_container {
    max-width: 853px;
}

/*****************************************************************************************
|
|   First section
|
******************************************************************************************/

.main_section {
    width: 100%;
    background: #151B2B;
    padding-bottom: 172px;
}

.main_section nav {
    padding-top: 41px;
}

.main_section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_section .left {
    max-width: 487px;
}

.main_section .title {
    display: flex;
    margin: 0 0 45px 0;
    align-items: center;
}

.star_github {
    position: relative;
    top: 2px;
    margin-left: 25px;
    background: linear-gradient(#F9FBFC, #EFF3F6);
    border: 1px solid #CDCFD1;
    border-radius: 2px;
    width: 95px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.star_github:hover {
    background: linear-gradient(#EFF3F6, #F9FBFC);
}

.star_github .star_text {
    width: 62px;
    border-right: 1px solid #CDCFD1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star_github .star_text i {
    margin-right: 3px;
}

.star_github .star_number {
    background-color: white;
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_section h1 {
    font-family: "HKGroteskBlack", Helvetica, sans-serif;
    font-size: 46px;
    margin: 0;
}

.main_section h2 {
    font-family: "HKGroteskSemiBold", Helvetica, sans-serif;
    margin: 0 0 25px 0;
    font-size: 25px;
}

.main_section p {
    font-size: 16px;
    color: #8686B2;
    margin: 0 0 0 5px;
    line-height: 24px;
}

.main_section .row_btn {
    display: flex;
    margin-top: 30px;
}

.main_section .row_btn .btn:first-of-type {
    margin-right: 25px;
}

.main_section .row_btn .btn i {
    margin-right: 5px;
}

/*****************************************************************************************
|
|   How does it work section
|
******************************************************************************************/

.use_section {
    padding: 135px 0 128px 0;
}

.how_part {
    margin-bottom: 128px;
}

.use_section h3 {
    font-family: "HKGroteskBlack", Helvetica, sans-serif;
    color: #454658;
    font-size: 32px;
    text-align: center;
    margin: 0 0 17px 0;
}

.use_section p {
    font-family: "SFUITextMedium", Helvetica, sans-serif;
    color: #454658;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    max-width: 837px;
    margin: 0 0 32px 0;
}

.usage_part {
    position: relative;
}

.usage_part img {
    position: absolute;
    right: 0;
    top: -72px;
}

.usage_part h3, p {
    z-index: 1;
    position: relative;
}

.container_code {
    z-index: 1;
    position: relative;
    background-color: white;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.usage_part .language_name {
    background: #5D64D2;
    border-radius: 3px;
    padding: 4px 8px;
    color: white;
    width: 50px;
    line-height: 26px;
    font-family: "SFUITextBold", Helvetica, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.usage_part .rust {
    position: relative;
    background: transparent;
    left: -64px;
    overflow: hidden;
    padding: 0;
}

.usage_part .row_btn {
    display: flex;
    width: 520px;
    margin: 0 auto;
    justify-content: center;
}

.usage_part .row_btn .btn:first-of-type {
    margin-right: 25px;
}

.usage_part .row_btn .btn i {
    margin-right: 5px;
}

/*****************************************************************************************
|
|   usage details section
|
******************************************************************************************/

.usages {
    display: grid;
    grid-template-columns: 428px 428px;
    grid-template-rows: max-content max-content;
    justify-content: space-between;
}

.usages h3 {
    font-family: "HKGroteskMedium", Helvetica, sans-serif;
    font-size: 24px;
    color: #454658;
    margin: 24px 0;
}

.usages p {
    font-size: 16px;
    color: #454658;
    font-family: "SFUITextMedium", Helvetica, sans-serif;
    line-height: 24px;
    margin: 0 0 6px 0;
}

.usages .link {
    font-family: "SFUITextBold", Helvetica, sans-serif;
    color: #5D64D2;
    font-size: 12px;
    text-decoration: none;
}

.usage_1 {
    margin-bottom: 108px;
}

.usage_2 img {
    height: 159px;
}

/*****************************************************************************************
|
|   footer
|
******************************************************************************************/

.end_word {
    font-family: "HKGroteskSemiBold", Helvetica, sans-serif;
    font-size: 32px;
    margin: 167px 0 266px 0;
    color: #454658;
    text-align: center;
}

footer {
    background-color: #151B2B;
    width: 100%;
    height: 170px;
}